<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="ConnectionString" value="data source=SQL7002.site4now.net;initial catalog=DB_A453B0_fabiancastanon;persist security info=True;user id=DB_A453B0_fabiancastanon_admin;password=Pastelito2014;MultipleActiveResultSets=True;App=EntityFramework"></add>
  </appSettings>
  <connectionStrings>
    
  </connectionStrings>
</configuration>